.wrap {
  font-family: HSSanTokki20-Regular, serif;
  border: 1px solid #e6ece1;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  max-width: 450px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  padding: 0 15px;
  cursor: pointer;
}

.header p {
  color: #44484d;
}

.header span {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: all 0.3s ease;
}

.content {
  font-size: 14px;
  text-align: justify;
  padding: 10px 20px;
  background-color: #ffffff;
}
