.title {
  padding-top: 40px;
  font-weight: 600;
  font-size: 25px;
  margin: 10px;
  color: #d4c7c8;
  padding-bottom: 20px;
}

.button {
  display: flex;
  gap: 8px;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 0 0 10px 10px;
}

.button button {
  padding: 15px 20px;
  border: none;
  align-items: flex-start;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  gap: 0;
  opacity: 0.6;
  background-color: #f6f6f6;
}

.button button:hover:focus {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
